<!DOCTYPE html>
<html{{ with site.LanguageCode | default site.Language.Lang }} lang="{{ . }}"{{ end }}>

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200;0,7..72,400;0,7..72,700;1,7..72,200;1,7..72,400;1,7..72,700&display=swap" rel="stylesheet">
  {{ block "load_paginator" . }}{{ end }}
  {{ partial "meta.html" . }}
  {{ partial "title.html" . }}
  {{ partial "link.html" . }}
  {{ partial "load_site_assets.html" . }}
  {{ block "load_page_assets" . }}
    {{ with .Content }}{{ end }}
  {{ end }}
  {{ partial "assets.html" . }}
  {{ partial "analytics.html" . }}
</head>

<body>
  {{ partialCached "banner.html" . }}
  <main>
    <div class="u-wrapper">
      <div class="u-padding">
        {{ block "main" . }}{{ end }}
      </div>
    </div>
  </main>
  {{ partialCached "footer.html" . }}
</body>

</html>
